[Unit]
Description="Todo GraphQL Backend"

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
RestartSec=5s
ExecStart="todo"
EnvironmentFile=/opt/todo/todo.env

[Install]
WantedBy=multi-user.target
